{% map "type",params.type,"websitetype",params.websitetype,"webrank",params.webrank,"key",params.key,"start",params.start as p%}
{% command "app.icity.search.SearchCmd","getIndex",p as d %} 
	<div class="h4">
		共搜到<span style="color: red;">{{d.total}}</span>条相关数据
	</div>
	<div id="content" style="margin-top: 0px;">
		<ul class="list-group panel-body yi-list-group-l2">
			{% for o in d.data%}
			{% if o.TYPE|equal:"project"%}
 			<li class="list-group-item" style="padding: 5px;">
                <h5>[事项]<a href="{{cp}}approve/guide?id={{o.ID}}" target="_blank">{{o.NAME}}</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;主题：{{o.TITLE_NAME}}</h5>
                    </li>
             {%else%}
                    {%if o.TYPE|equal:"content"%}
                     <li class="list-group-item" style="padding: 5px;">
                        <h5>[网站发布]
                        {%if params.websitetype|equal:"2"%}<!-- 舟山内网 -->
                       		 <a href="{{cp}}iportal/base-1?ID={{o.ID}}" target="_blank">{{o.NAME}}</a>
                    	{%else%}
                    		{%if params.websitetype|equal:"1"%}<!-- 舟山省招委 -->
                    		<a href="{{cp}}szw/content?id={{o.ID}}" target="_blank">{{o.NAME}}</a>
                    		{%else%}
                    		 <a href="{{cp}}content?id={{o.ID}}" target="_blank">{{o.NAME}}</a>
                    		{%endif%}
                    	 {%endif%}
                    	 </h5>
                    </li>
             {%else%}
                    <li class="list-group-item" style="padding: 5px;">
                        <h5><a>{{o.NAME}}</a></h5>
                    </li>
                    {%endif%}
                    {%endif%}
			{% endfor %}
		</ul>
		 <nav class="text-center">
                <div class="jqpagination" style="display: none">
			    <a href="#" class="first" data-action="first">&laquo;</a>
			    <a href="#" class="previous" data-action="previous">&lsaquo;</a>
			    <input type="text" readonly="readonly"  data="max-page:23" />
			    <a href="#" class="next" data-action="next">&rsaquo;</a>
			    <a href="#" class="last" data-action="last">&raquo;</a>
				</div>
                </nav>
	</div>
<script type="text/javascript">
var type="";
var websitetype="";
var webrank = "";
$(function(){
	var start={%if params.start%}{{params.start}}{%else%}1{%endif%},total={{d.total}},limit=5;
	total=Math.ceil(total/limit);
	webrank = "{{params.webrank}}";
	type = "{{params.type}}";
	websitetype = "{{params.websitetype}}";
	$(".key").val("{{params.key}}");
		if(total==0){
			$('.jqpagination').hide();
		}
		else{
			$('.jqpagination').show();
			$('.jqpagination').jqPagination({
				paged: function(page) {onQuery(page);},
				page_string:"第{current_page}页   共{max_page}页",
				current_page:start,
				max_page:total
			});
		}
	
});
	 function onQuery(page) {
		 var key=$(".key").val();
		 if(!LEx.isNotNull(key)){
			 return false;
		 }
		document.location = "?websitetype="+websitetype+"&key="+ encodeURIComponent(key)+"&webrank="+webrank+"&start="+page+"&type="+type;
	} 
</script>

