
.zl-masthead {
  position: relative;
}
.zl-masthead .brand {
  position: absolute;
  z-index: 9999;
  left: 0;
  top: 50px;
}
 
.zl-masthead .brand h1 {
  font-size: 48px;
  color: red;
  text-shadow: 0 4px 4px #ffffff;
}
.zl-topbar {
  min-height: 30px;
  margin-bottom: 0;
  padding-top: 3px;
}
.zl-navbar {
  min-height: 40px;
  margin-bottom: 0;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #22a7f0;
  border: 0;
}
.zl-navbar .nav-tabs {
  width: 100%;
  padding-top: 5px;
}
.zl-navbar .nav-tabs > li {
  display: table-cell;
  float: none;
  width: 1%;
  margin-bottom: 0;
}
.zl-navbar .nav-tabs > li > a {
  padding: 6px 15px 7px 15px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-align: center;
}
.zl-navbar .nav-tabs > li.active > a {
  color: #333333;
  background-color: #fff;
}
.zl-navbar .nav-tabs > li.active > a:after {
  position: absolute;
  top: 0;
  right: -10px;
  display: block;
  border-color: transparent #1c6cbf;
  border-style: solid;
  border-width: 35px 0 0 10px;
  content: "";
}
.zl-navbar-content {
  padding: 12px 15px;
  max-height: 44px;
  overflow: hidden;
  background-color: #fff;
}
.zl-navbar-content .list-inline {
  margin-bottom: 0;
  text-align: center;
}
.zl-navbar-content .list-inline > li > a {
  color: #333333;
}
.zl-navbar-content .list-inline > li > a:hover,
.zl-navbar-content .list-inline > li > a:focus {
  color: #036DC1;
}
.zl-carousel-landmark.opacity .item {
  -webkit-transition: opacity ease-in-out .5s;
  -o-transition: opacity ease-in-out .5s;
  transition: opacity ease-in-out .5s;
}
.zl-carousel-landmark.opacity .active.left,
.zl-carousel-landmark.opacity .active.right {
  left: 0;
  z-index: 2;
  opacity: 0;
  filter: alpha(opacity=0);
}
.zl-carousel-landmark.opacity .next,
.zl-carousel-landmark.opacity .prev {
  left: 0;
  z-index: 1;
}
.zl-carousel-landmark.opacity .carousel-control {
  z-index: 3;
}
.zl-footer {
  padding: 20px;
  text-align: center;
  background-color: #eeeeee;
}
.zl-footer .list-inline {
  margin-bottom: 20px;
}
.zl-footer .list-inline > li + li:before {
  padding: 0 15px 0 2px;
  color: #ccc;
  content: "|";
}
.zl-footer .list-inline > li > a {
  display: inline;
  color: #555555;
}
.zl-footer .list-inline > li > a:hover,
.zl-footer .list-inline > li > a:focus {
  color: #036DC1;
}














.zl-tab-zwhd-2 {
  position: relative;
}
.zl-tab-zwhd-2 .nav-tabs {
  position: absolute;
  top: 40px;
  left: -46px;
  z-index: 9999;
}
.zl-tab-zwhd-2 .nav-tabs > li {
  float: none;
}
.zl-tab-zwhd-2 .nav-tabs > li > a {
  padding: 4px 6px;
  font-size: 12px;
  color: #555555;
  font-weight: bold;
  background-color: #E9F1DE;
}
.zl-tab-zwhd-2 .nav-tabs > li.active > a {
  color: #fff;
  background-color: #036DC1;
}
.zl-tab-zwhd-2 .tab-content {
  padding-top: 15px;
}
.zl-tab-zwhd-1 .panel-heading {
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.zl-tab-zwhd-1 .nav-tabs > li > a {
  padding: 8px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #333333 !important;
}
.zl-tab-zwhd-1 .nav-tabs > li.active > a {
  background-color: #fff;
}
.zl-tab-zwhd-1 .nav-tabs > li.active > a:after {
  position: absolute;
  top: 0;
  right: -8px;
  display: block;
  border-color: transparent #b8c2b2;
  border-style: solid;
  border-width: 37px 0 0 8px;
  content: "";
}
.zl-table-zwhd-1 {
  margin-bottom: 0;
}
.zl-table-zwhd-1 > tbody > tr > td {
  text-align: center;
}
.zl-table-zwhd-1 > thead > tr > th {
  text-align: center;
}
.zl-table-zwhd-1 .label {
  border-radius: 100%;
}
.zl-list-unstyled-zwhd-1 > li {
  padding: 3px 10px 3px 15px;
}
.zl-list-unstyled-zwhd-1 > li:before {
  content: "";
  position: absolute;
  width: 3px;
  height: 3px;
  background-color: #bbb;
  left: 5px;
  top: 11px;
}
.zl-list-unstyled-zwhd-1 > li > time {
  color: #999;
  float: right;
}
.zl-list-unstyled-zwhd-2 > li {
  padding-top: 5px;
  padding-bottom: 5px;
}
.zl-list-unstyled-zwhd-3 {
  width: 660px;
}
.zl-list-unstyled-zwhd-3 > li {
  padding: 3px 10px;
}
.zl-list-unstyled-zwhd-3 > li .label {
  margin-right: 10px;
  padding: 1px 4px;
  font-size: 12px;
}
.zl-list-group-zwhd-1 .list-group-item {
  padding: 15px;
  font-size: 16px;
  font-weight: bold;
}
.zl-list-group-zwhd-1 .list-group-item img {
  margin-right: 10px;
  margin-top: -4px;
}
.zl-carousel-zwhd-2 .carousel-caption {
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
  background-color: #fff;
}
.zl-carousel-zwhd-2 .carousel-caption:hover {
  background-color: #e9f1de;
}
.zl-carousel-zwhd-2 .carousel-caption h3 {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  text-shadow: none;
}
.zl-carousel-zwhd-2 .carousel-caption h3 a {
  color: #333333;
  text-decoration: none;
}
.zl-carousel-zwhd-2 .carousel-caption h3 a:hover,
.zl-carousel-zwhd-2 .carousel-caption h3 a:focus {
  color: #036DC1;
}
.zl-carousel-zwhd-2 .carousel-indicators {
  right: 10px;
  bottom: 32px;
  left: auto;
  width: auto;
}
.zl-carousel-zwhd-2 .carousel-indicators .active {
  border-color: #036DC1;
  background-color: #036DC1;
}
.zl-list-group-zwhd-2 a {
  display: block;
  margin-bottom: 10px;
}
.zl-well-zwhd-1 .well-heading {
  position: relative;
  margin-left: -20px;
  margin-right: 20px;
  background-color: #036DC1;
}
.zl-well-zwhd-1 .well-heading:after {
  position: absolute;
  bottom: auto;
  left: 0;
  border-color: #416710 transparent ;
  border-style: solid;
  border-width: 10px 0 0 10px;
  content: "";
}
.zl-well-zwhd-1 .well-heading h2 {
  margin: 0;
  padding: 8px 15px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}
.zl-well-zwhd-1 .list-inline > li > a {
  display: block;
  padding: 8px 10px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}
.zl-well-zwhd-1 .list-inline > li > a:hover,
.zl-well-zwhd-1 .list-inline > li > a:focus {
  background-color: #036DC1;
  color: #fff;
}















.zl-list-unstyled-wlsp-1 > li {
  padding: 3px 10px 3px 15px;
}
.zl-list-unstyled-wlsp-1 > li:before {
  content: "";
  position: absolute;
  width: 3px;
  height: 3px;
  background-color: #bbb;
  left: 5px;
  top: 11px;
}
.zl-list-unstyled-wlsp-1 > li > time {
  color: #999;
  float: right;
}
.zl-thumbnails-wlsp-1 .thumbnail {
  margin-bottom: 0;
  padding-bottom: 15px;
  text-align: center;
}
.zl-thumbnails-wlsp-1 .thumbnail img {
  margin-bottom: 15px;
}
.zl-media-wlsp-1 {
  padding: 0 10px 10px 0;
  margin-bottom: 10px;
  margin-top: 0;
  border-bottom: 1px dashed #ccc;
}
.zl-media-wlsp-1 .media-heading {
  font-size: 16px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
}
.zl-media-wlsp-1 .media-heading > a {
  color: #333333;
}
.zl-media-wlsp-1 .media-heading > a:hover,
.zl-media-wlsp-1 .media-heading > a:focus {
  color: #036DC1;
}
.zl-media-wlsp-1 .list-inline > li {
  font-size: 12px;
}
.zl-list-group-wlsp-1 {
  margin-bottom: 0;
}
.zl-list-group-wlsp-1 .list-group-item {
  padding: 8px 10px;
  border: 0;
}
.zl-list-group-wlsp-1 .list-group-item a {
  color: #555555;
}
.zl-list-group-wlsp-1 .list-group-item a:hover,
.zl-list-group-wlsp-1 .list-group-item a:focus {
  color: #036DC1;
}
.zl-list-group-wlsp-1 .list-group-item .label {
  padding: 0.2em 0.6em;
  border-radius: 100%;
}









.zl-well-ggfu-1 .thumbnail {
  margin: 0;
  padding: 5px 0;
  font-size: 12px;
}
.zl-well-ggfu-1 .thumbnail img {
  width: 24px;
  height: 24px;
  margin-bottom: 8px;
}
.zl-form-horizontal-ggfu-1 .control-label {
  padding-right: 0;
}
.zl-list-unstyled-ggfu-1 > li {
  padding: 3px 10px 3px 15px;
}
.zl-list-unstyled-ggfu-1 > li:before {
  content: "";
  position: absolute;
  width: 3px;
  height: 3px;
  background-color: #bbb;
  left: 5px;
  top: 11px;
}
.zl-list-unstyled-ggfu-1 > li > time {
  color: #999;
  float: right;
}
.zl-list-unstyled-ggfu-2 > li > a {
  padding: 11px;
}
.zl-list-unstyled-ggfu-3 {

}
.zl-list-unstyled-ggfu-3 > li {
  padding: 4px 10px 0 10px;
  border-bottom: 1px dashed #ddd;
}
.zl-list-unstyled-ggfu-3 > li p,
.zl-list-unstyled-ggfu-3 > li span,
.zl-list-unstyled-ggfu-3 > li time,
.zl-list-unstyled-ggfu-3 > li em {
  display: inline-block;
  height: 23px;
  line-height: 23px;
  padding: 0 5px;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.zl-list-unstyled-ggfu-3 > li p {
  width: 35%;
  margin: 0;
}
.zl-list-unstyled-ggfu-3 > li span {
  width: 15%;
}
.zl-list-unstyled-ggfu-3 > li time {
  width: 10%;
}
.zl-list-unstyled-ggfu-3 > li em {
  width: 9%;
  font-style: normal;
}
.zl-list-unstyled-ggfu-3 .label {
  margin-right: 3px;
  padding: 0 6px !important;
  font-size: 10px;
  
}
.zl-list-unstyled-ggfu-4 > li > a {
  display: block;
  padding: 5px 0;
  margin-top: 10px;
  text-align: center;
  background-color: #e9f1de;
  text-decoration: none;
}
.zl-list-unstyled-ggfu-4 > li.active > a,
.zl-list-unstyled-ggfu-4 > li.active > a:hover {
  
  background-color: #036DC1;
color: #fff;
}
.zl-list-unstyled-ggfu-4 > li > a:hover,
.zl-list-unstyled-ggfu-4 > li > a:focus {
  font-weight: bold;
  background-color: transparent;
}
.zl-tab-ggfu-1 .panel-heading {
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.zl-tab-ggfu-1 .nav-tabs > li > a {
  padding: 8px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #333333 !important;
}
.zl-tab-ggfu-1 .nav-tabs > li.active > a {
  background-color: #fff;
}
.zl-tab-ggfu-1 .nav-tabs > li.active > a:after {
  position: absolute;
  top: 0;
  right: -8px;
  display: block;
  border-color: transparent #b8c2b2;
  border-style: solid;
  border-width: 37px 0 0 8px;
  content: "";
}
.zl-tab-ggfu-2 {
  position: relative;
}
.zl-tab-ggfu-2 .nav-tabs {
  position: absolute;
  top: 40px;
  left: -58px;
  z-index: 9999;
}
.zl-tab-ggfu-2 .nav-tabs > li {
  float: none;
}
.zl-tab-ggfu-2 .nav-tabs > li > a {
  padding: 4px 6px;
  font-size: 12px;
  color: #555555;
  font-weight: bold;
  background-color: #E9F1DE;
}
.zl-tab-ggfu-2 .nav-tabs > li.active > a {
  color: #fff;
  background-color: #036DC1;
}
.zl-thumbnails-ggfu-2 .thumbnail {
  margin-bottom: 10px;

}
.zl-thumbnails-ggfu-2 .thumbnail img {

  width: 48px;
  height: 48px;
}
.zl-panel-search-ggfu-1 {
  margin-bottom: 20px;
  background-color: #eee;
}
.zl-panel-search-ggfu-1 .panel-heading {
  padding: 24px 15px;
  font-weight: bold;
  font-size: 16px;
  background-color: #036DC1;
  color: #fff;
}
.zl-panel-search-ggfu-1 form {
  padding-top: 20px;
}
.zl-panel-search-ggfu-1 form .control-label {
  padding-top: 5px;
  text-align: right;
}




.zl-list-group-ggfu-1 > .list-group-item {
    padding: 15px;
}
.zl-list-group-ggfu-1 > .list-group-item p {
    display: none;
    margin-top: 15px;
    margin-bottom: 3px;
}
.zl-list-group-ggfu-1 > .list-group-item.open {
    background-color: #f5f5f5;        
}
.zl-list-group-ggfu-1 > .list-group-item.open p {
    display: block;
}
.zl-list-group-ggfu-1 > .list-group-item .row a {
    color: #444;
}
.zl-list-group-ggfu-1 > .list-group-item .row a:hover {
    color: #036DC1;
}


.zl-list-unstyled-ggfu-5 > li > a {
    padding: 6px 5px; 
    border-bottom: 1px solid #eee;    
    text-align: center; 
}
.zl-list-unstyled-ggfu-5 > li > a:hover {
    background-color: #F1F9E5;  
    text-decoration: none;
}
.zl-list-unstyled-ggfu-5 > li.active > a { 
    background-color: #036DC1; 
    color: #fff; 
    border-color: transparent; 
}

.zl-nav-pills-ggfu-1 { 
    padding: 15px 15px 10px 15px; 
    margin-left: 27%;
}
.yi-list-inline-l2 > li > a {
    display: inline-block;
    padding: 2px 8px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #555;
}
.yi-list-inline-l2 > li > a:hover, .yi-list-inline-l2 > li > a:focus {
    color: white;
    background-color: #036DC1;
}
.yi-list-inline-l2 > .active > a {
    background-color:#036DC1 !important;
    color: #FFF !important;
}
.article {
    padding: 20px 60px;
    line-height: 2;
}
.aside {
    background-color: #F7F7F7;
}
.nav.sidenav > li.active > a {
    font-weight: bold;
    color: #31ABD5;
}
.j-group{
    padding: 10px 20px;
    line-height: 2; 
}
.form-inline .form-group {
    display: inline-block;
    margin-bottom: 0px;
    vertical-align: middle;
}
.form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}