{% set id PageContext.Parameter.id %}
{% if id %}
	{% map "id",id as p %}
	{% command "app.icity.ServiceCmd","getPermission",p as d %}
	<!-- 事项信息 -->
	{%  set item d.data %}
	{% set itemInfo item.itemBasicInfo%}
{% else %}
	<script type="text/javascript">window.location.href="{{PageContext.ContextPath}}index";</script>
{% endif %}	
<!-- 办事地址 -->
{% set windows item.window %}
<!-- 链接地址 -->
{% set notices item.notice %}
<div class="container" style="width: 1030px !important;"> 
    <section class="panel" style="padding: 20px 100px;">

        <h1 class="text-center" style="font-size: 26px;">{{itemInfo.NAME}}</h1>
        <hr>
        <p class="text-muted text-center"><span>发布日期：{% for window in windows %} 
        	<span id="CREATE_TIME" code="{{window.CREATE_TIME.time}}"></span>
        	{% endfor %} </span> <span>信息来源：{% for notice in notices %} {{notice.publish_org}}{% endfor %}</span></p>
        <br>
        <table class="table table-bordered its-table-overview f16" style="border: 2px solid #6699cc;">
            <tbody>
            	<tr>
                    <th class="text-center" width="20%">服务简介</th>
                    <td><a class="text-primary" href="#">{% for notice in notices %} {{notice.CONTENT}}{% endfor %}</a></td>
                </tr>
                <tr>
                    <th class="text-center" width="20%">链接地址</th>
                    <td>{% for notice in notices %}
            <a href="{{notice.URL}}" target="_blank" >{{notice.URL}}</a>
            {% endfor %}</td>
                </tr>
            </tbody>
        </table>
        <br>
        <br>
        <div class="text-right">
            <a href="javascript:window.print()">【打印此页】</a>
            <a href="javascript:window.opener=null;window.open('','_self');window.close();">【关闭窗口】</a>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </section>
</div>
<script> 
function timeStamp2String(time){
    var datetime = new Date();
    datetime.setTime(time);
    var year = datetime.getFullYear();
    var month = datetime.getMonth() + 1 < 10 ? "0" + (datetime.getMonth() + 1) : datetime.getMonth() + 1;
    var date = datetime.getDate() < 10 ? "0" + datetime.getDate() : datetime.getDate();
    var hour = datetime.getHours()< 10 ? "0" + datetime.getHours() : datetime.getHours();
    var minute = datetime.getMinutes()< 10 ? "0" + datetime.getMinutes() : datetime.getMinutes();
    var second = datetime.getSeconds()< 10 ? "0" + datetime.getSeconds() : datetime.getSeconds();
    //return year + "-" + month + "-" + date+" "+hour+":"+minute+":"+second;
    return year + "-" + month + "-" + date;
}
$(function(){
	var ct = timeStamp2String($("#CREATE_TIME").attr("code"));
	if(ct=="NaN-NaN-NaN"){
		$("#riqi").hide();
	}else{
		$("#CREATE_TIME").html(ct);
	}
});
</script>