	<script  type="text/javascript" src="{{PageContext.ContextPath}}public/scripts/a?t=js&m=LEx.form.js,common.js,md5.js"></script>
	<script type="text/javascript" src="{{PageContext.ContextPath}}public/scripts/LEx.load.js"></script>
	<script type="text/javascript" src="{{PageContext.ContextPath}}public/themes/twoweb/js/common.js"></script>
	<script type="text/javascript">
		plugin.add('dialog', {
			path: '{{PageContext.ContextPath}}public/scripts/dialog/a?t=js&m=jquery.artDialog.js,plugins/iframeTools.js',
			type: 'js',
			charset: 'utf-8',
			rely: ['dialog_css']
		});
		plugin.add('dialog_css',{
			path: '{{PageContext.ContextPath}}public/scripts/dialog/skins/default.css',
			type: 'css',
			charset: 'utf-8'
		});
		function formatValid(){
			var ValidTypeList = getSecurityValue('ValidTypeList','');
			if(ValidTypeList) {
				var ValidTypeListArr = ValidTypeList.split(',');
				for(var o in  ValidTypeListArr){
					console.log(ValidTypeListArr[o]);
					var arr = ValidTypeListArr[o];
					if("mail"==arr){
						$("#securityCenter li").each(function(){
							var tag = $(this).find("a").attr("tag");
							if(tag == "secBindMailW"){
								$(this).css('display','block');
							}
						});
					}else if("sms"==arr){
						$("#securityCenter li").each(function(){
							var tag = $(this).find("a").attr("tag");
							if(tag == "secBindPhoneW"){
								$(this).css('display','block');
							}
						});
					}
				}	
			}
		}
		
		function init(){
			formatValid();
		}

	</script>
	<script type="text/javascript" src="{{PageContext.PagePath}}uc/js/a?t=js&m=common.js"></script>	
<div id="page" class="yt-content" style="padding-left: 10px; padding-right: 10px; background-color: #fff;">
	<div class="breadcrumb">
		您好，欢迎使用<span style="color: #6db4f6;"><a href="{{cp}}" target="_self" style="color: #2CA1E9; font-weight: bold; text-shadow: 1px 1px #FFFFFF;">{{ConfigInfo.AppTitle}}</a></span>
			<a href="{{cp}}uc/index" style="margin-left: 46%;">[用户中心]</a>
            <a href="{{cp}}center/index" style="margin-right:5%;">[业务中心]</a>
            <a href="javascript:void();" onclick="doLogout('{{ConfigInfo.WebUcPath}}')" style="margin-right:0%;">[退出]</a>
	</div>
                    <section class="panel no-bordered clearfix" style="padding: 15px; background-color: #dff0fa; height: auto;">


                            <div class="sec_left" style="width: 23%; display: inline-block;">
                                <img id="userface1" src="{% public assets/img/men1.png %}" onerror = "this.src = '{%public assets/img/men1.png%}'" style="width: 60%;margin-top: 15px;">
                                <div style="padding: 10px; font-size: 20px;">{{UserInfo.userName}}</div>
                                <div class="panel panel-primary">
                                    <header class="panel-heading head1">
                                    用户中心
                                    </header>
                                    <ul class="list-group grou1">
                                        <li class="list-group-item">
                                            <span class="glyphicon glyphicon-certificate" aria-hidden="true" style="color:#e9e9e9"></span>
                                            <a href="javascript:void(0);" class="business_tab" folder="" tag="account">账户信息</a></li>
                                        <li class="list-group-item">
                                            <span class="glyphicon glyphicon-certificate" aria-hidden="true" style="color:#e9e9e9"></span>
                                            <a href="javascript:void(0);" class="business_tab" folder="" tag="profile">身份资料</a></li>
                                        <!-- <li class="list-group-item">
                                            <span class="glyphicon glyphicon-certificate" aria-hidden="true" style="color:#e9e9e9"></span>
                                            <a href="javascript:void(0);" class="business_tab" folder="" tag="authenPer">实名验证</a></li> -->
                                        <li class="list-group-item">
                                            <span class="glyphicon glyphicon-certificate" aria-hidden="true" style="color:#e9e9e9"></span>
                                            <a href="javascript:void(0);" class="business_tab" folder="" tag="photo">头像设置</a></li>
                                            <input id="userInfo" type="hidden" value="{{UserInfo.uid}}">
                                        {% if ConfigInfo.DEMONSTRATE_MODE|equal:"1" %}
                                        <li class="list-group-item">
                                            <span class="glyphicon glyphicon-certificate" aria-hidden="true" style="color:#e9e9e9"></span>
                                            <a href="javascript:void(0);" class="business_tab" folder="" tag="zzlist">证照列表</a></li>
                                        {% endif %}
                                    </ul>
                                </div>

                                <div class="panel panel-primary">
                                    <header class="panel-heading head2">
                                    安全中心
                                    </header>
                                    <ul class="list-group grou2">
                                        <li class="list-group-item">
                                            <span class="glyphicon glyphicon-certificate" aria-hidden="true" style="color:#e9e9e9"></span>
                                            <a href="javascript:void(0);" class="business_tab" folder="" tag="secChangePwd">修改密码</a></li>
                                        <li class="list-group-item">
                                            <span class="glyphicon glyphicon-certificate" aria-hidden="true" style="color:#e9e9e9"></span>
                                            <a href="javascript:void(0);" class="business_tab" folder="" tag="secAsk">密保问题</a></li>
                                    </ul>
                                </div>

                                <div class="panel panel-primary">
                                    <header class="panel-heading head3">
                                    业务中心
                                    </header>
                                    <ul class="list-group grou3">
                                        <li class="list-group-item">
                                            <span class="glyphicon glyphicon-certificate" aria-hidden="true" style="color:#e9e9e9"></span>
                                            <a href="{{cp}}center/index?folder=business&tag=business_list" class="" folder="business" tag="business_list">业务信息</a></li>
                                        <li class="list-group-item">
                                            <span class="glyphicon glyphicon-certificate" aria-hidden="true" style="color:#e9e9e9"></span>
                                            <a href="{{cp}}center/index?folder=business&tag=business_stat" class="" folder="business" tag="business_stat">业务统计</a></li>
                                        <!-- <li class="list-group-item">
                                            <span class="glyphicon glyphicon-certificate" aria-hidden="true" style="color:#e9e9e9"></span>
                                            <a href="{{cp}}center/index?folder=business&tag=business_enter" class="" folder="business" tag="business_enter">企业设立</a></li>
                                        <li class="list-group-item">
                                            <span class="glyphicon glyphicon-certificate" aria-hidden="true" style="color:#e9e9e9"></span>
                                            <a href="{{cp}}center/index?folder=business&tag=business_engin" class="" folder="business" tag="business_engin">工程建设</a></li> -->
                                    </ul>
                                </div>


                                    

                            </div> 


                            <div class="col-xs-9 sec_right pull-right" style="display: inline-block;">
                                <ul class="list-inline sec_rul clearfix">
                                    <li><div><a href="{{cp}}center/index?folder=active&tag=business_document" class="business_tab" folder="active" tag="business_document"><img src="{%public assets/img/1-1.png%}"><span>我的资料库</a></span></div></li>
                                    {% if ConfigInfo.AppId|equal:"chq" %}
					{% else %}
                                    <li><div><a href="{{cp}}center/index?folder=active&tag=business_satisfaction" class="business_tab" folder="active" tag="business_satisfaction"><img src="{%public assets/img/1-2.png%}"><span>我的评价</a></span></li>
                                    {% endif %}
                                    <li><div><a href="{{cp}}center/index?folder=active&tag=business_complaint" class="business_tab" folder="active" tag="business_complaint"><img src="{%public assets/img/1-3.png%}"><span>我的投诉</span></a></div></li>
                                    <li><div><a href="{{cp}}center/index?folder=active&tag=business_ask" class="business_tab" folder="active" tag="business_ask"><img src="{%public assets/img/1-4.png%}"><span>我的咨询</span></a></div></li>
                                    <li><div><a href="{{cp}}center/index?folder=active&tag=business_favorite" class="business_tab" folder="active" tag="business_favorite"><img src="{%public assets/img/1-5.png%}"><span>我的收藏</span></a></div></li>
                                </ul>
                               
                               
                                <div class="sec_bd show_tab" style="min-height:300px">
                                </div>
                            </div>            
                    </section>
                </div>