<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

<appender name="default" class="org.apache.log4j.ConsoleAppender">
	<param name="target" value="System.out"/>
	<layout class="org.apache.log4j.PatternLayout">
		<param name="ConversionPattern" value="%d#%c(%L) [%p]%m%n"/>
    </layout>
</appender>
  
<appender name="file" class="org.apache.log4j.RollingFileAppender"> 
    <param name="file" value="logs/system.log"/>
    <param name="MaxFileSize" value="5000KB"/>
    <param name="MaxBackupIndex" value="30"/>
    <layout class="org.apache.log4j.PatternLayout"> 
		<param name="ConversionPattern" value="%d %m%n"/> 
	</layout> 
</appender> 
<appender name="http-file" class="org.apache.log4j.RollingFileAppender"> 
    <param name="file" value="logs/http.log"/>
    <param name="MaxFileSize" value="5000KB"/>
    <param name="MaxBackupIndex" value="30"/>
    <layout class="org.apache.log4j.PatternLayout"> 
   		<param name="ConversionPattern" value="%d %m%n"/> 
    </layout> 
</appender> 
  
<logger name="core.rest.RestUtil">
	<level value="info" />
	<appender-ref ref="file" />
</logger>
<logger name="org.jgroups.protocols" additivity="false">
	<level value="error" />
   	<appender-ref ref="file" />
</logger>
<logger name="org.springframework" additivity="false">
	<level value="error" />
   	<appender-ref ref="file" />
</logger>
<logger name="org.apache.cxf" additivity="false">
	<level value="error" />
   	<appender-ref ref="file" />
</logger>
<logger name="org.quartz" additivity="false">
	<level value="error" />
   	<appender-ref ref="file" />
</logger>
<logger name="com.icore.http.bean.HttpLog" additivity="false">
	<level value="info" />
   	<appender-ref ref="http-file" />
</logger>
<logger name="com.inspur.hsf" additivity="false">
	<level value="error" />
   	<appender-ref ref="file" />
</logger>
<logger name="com.mchange.v2">
	<level value="error" />
	<appender-ref ref="file" />
</logger>
<logger name="org.jangod.template.resource.FileResourceLoader">
	<level value="error" />
	<appender-ref ref="default" />
</logger>
<root>
	<level value="info" />
	<appender-ref ref="default" />
</root>
</log4j:configuration>