<style>
/*强制不显示横向滚动条，纵向滚动条会在内容过多时自动显示*/
html{
    /*overflow:hidden;*/
    background:#F5F6F7;
    overflow-x:hidden;
}
</style>
<div id="tabpannel" >
	<ul class="tabs">
		<li><a href="javascript:void(0);" tag="jbxx" class="tab" >基本信息</a></li>
		<li><a href="javascript:void(0);" tag="bdxx" class="tab" >表单信息</a></li>
		<li><a href="javascript:void(0);" tag="sqcl" class="tab" >申请材料</a></li>
		<li><a href="javascript:void(0);" tag="jgcl" class="tab" >结果材料</a></li>
		{% if ConfigInfo.WebRegion|equal:"330901000000" %}
		<li><a href="javascript:void(0);" tag="jfzt" class="tab" >缴费状态</a></li>
		{% endif %}
		{%if ConfigInfo.DEMONSTRATE_MODE|equal:"1"%}
			<li><a href="javascript:void(0);" tag="wlxx" class="tab" >物流信息</a></li>
		{% endif %}
	</ul>
	{% set code PageContext.Parameter.id%}
	{% set type PageContext.Parameter.type%}
	{% set paystatus PageContext.Parameter.paystatus%}
	<div id="jbxx" class="tabs-content" style="border-top: none;padding: 0px 0px 5px 0px;min-height:300px;">
		{% widget "project.BusinessDetailWidget" %}
	</div>
	<div id="bdxx" class="tabs-content" style="border-top: none;padding: 0px 0px 5px 0px;min-height:300px;">
		{% widget "project.FormInfo" %}
	</div>
	<div id="sqcl" class="tabs-content" style="border-top: none;padding: 0px 0px 5px 0px;min-height:300px;">
		{% widget "project.MaterialList" %}
	</div>
	<div id="jgcl" class="tabs-content" style="border-top: none;padding: 0px 0px 5px 0px;min-height:300px;">
		{% widget "project.ResultMaterialList" %}
	</div>
	{% if ConfigInfo.WebRegion|equal:"330901000000" %}
	
	<div id="jfzt" class="tabs-content" style="border-top: none;padding: 0px 0px 5px 0px;min-height:300px;">
			{% if paystatus|equal:'0' %}
		 	<div class="busy-result" id="materials" style="margin: 15px;">
		<table class="listTable" width="100%" cellspacing="1">
			<tr class="tr_2">
				<th>未缴费</th>
			</tr>
		</table>
	</div>
			{% else %}
			{% if paystatus|equal:'1' %}
		     	<div class="busy-result" id="materials" style="margin: 15px;">
		<table class="listTable" width="100%" cellspacing="1">
			<tr class="tr_2">
				<th>未缴费</th>
			</tr>
		</table>
	</div>
		    {% else %}
			{% if paystatus|equal:'2' %}
			   	<div class="busy-result" id="materials" style="margin: 15px;">
		<table class="listTable" width="100%" cellspacing="1">
			<tr class="tr_2">
				<th>已缴费</th>
			</tr>
		</table>
	</div>
			{% endif %}	
        	{% endif %}
        	{% endif %}
	</div>
	{% endif %}
	{%if ConfigInfo.DEMONSTRATE_MODE|equal:"1"%}
		<div id="wlxx" class="tabs-content" style="border-top: none;padding: 0px 0px 5px 0px;min-height:300px;">
			{% widget "project.MaterialInfoList" %}
		</div>
	{% endif %}
</div>
<script>
function inittabs(){
	var tabObj = {};
	tabObj.id = "tabpannel";
	LEx.Control.Tab(tabObj);
}
inittabs();
</script>