<!doctype html>
<html>
<head>
	<title>{{ConfigInfo.AppTitle}}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="renderer" content="webkit">
	<script type="text/javascript">
		{% set cp PageContext.ContextPath %}
		var __webPath = "{{cp}}";
		var __signature = "{{PageContext.SignatureInfo}}";
	</script>
	<link rel="stylesheet" type="text/css" href="{% public zs/iportal/assets/css/custom-bootstrap.css %}" />
	<link rel="stylesheet" type="text/css" href="{% public zs/iportal/assets/css/mdicon.font.css %}" />
	<script  type="text/javascript" src="{{PageContext.ContextPath}}public/scripts/a?t=js&m=jquery.js,bootstrap.min.js,jquery.plugin.js,LEx.core.js,LEx.json.js,LEx.command.js,LEx.template.js,LEx.cookie.js,LEx.control.js,LEx.util.Format.js,icity.js"></script>
	<script  type="text/javascript" src="{% public scripts/common.js %}"></script>
	<script  type="text/javascript" src="{% public assets/js/holder.js %}"></script>
		<script  type="text/javascript" src="{% public assets/js/swfobject.js %}"></script>
	<script  type="text/javascript" src="{% public jqPagination/js/jquery.jqpagination.min.js %}"></script>
	<!-- JavaScript --> 
    <script src="{{cp}}public/zs/szw/js/highcharts.js"></script>
	   <script src="{% public zs/iportal/assets/js/data.js %}"></script> 
	   <script src="{% public zs/iportal/assets/js/drilldown.js %}"></script> 
	    	    
	<link rel="stylesheet" type="text/css" href="{% public jqPagination/css/jqpagination.css %}" />
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
	<script src="{% public assets/js/html5.min.js %}"></script>
	<script src="{% public assets/js/respond.min.js %}"></script>
<![endif]-->
	<script type="text/javascript">
		plugin.add('dialog', {
			path: '{{cp}}public/scripts/dialog/a?t=js&m=jquery.artDialog.js,plugins/iframeTools.js',
			type: 'js',
			charset: 'utf-8',
			rely: ['dialog_css']
		});
		plugin.add('dialog_css', {
			path: '{{cp}}public/scripts/dialog/skins/default.css',
			type: 'css',
			charset: 'utf-8'
		});
		plugin.add('tree', {
			path: '{{cp}}public/scripts/zTreeStyle/jquery.ztree.js',
			type: 'js',
			charset: 'utf-8',
			rely: ['tree_css']
		});
		plugin.add('tree_css', {
			path: '{{cp}}public/scripts/zTreeStyle/zTreeStyle.css',
			type: 'css',
			charset: 'utf-8'
		});
		
		plugin.add('calendar', {
			path: '{{cp}}public/scripts/calendar/calendar-min.js',
			type: 'js',
			charset: 'utf-8',
			rely: ['calendar_css']
		});
		plugin.add('calendar_css', {
			path: '{{cp}}public/scripts/calendar/calendar-min.css',
			type: 'css',
			charset: 'utf-8'
		});
		plugin.add('editor',{path:'{{cp}}public/scripts/kindeditor/kindeditor-min.js',type:'js',charset:'utf-8'});
		plugin.add('fullCalendar',{
			path:'{{cp}}public/scripts/fullcalendar/fullcalendar.js',
			type:'js',
			charset:'utf-8',
			rely: ['jquery_ui']
		});
		
		plugin.add('jquery_ui',{
			path:'{{cp}}public/scripts/fullcalendar/jquery-ui-1.10.2.custom.min.js',
			type:'js',
			charset:'utf-8',
			rely: ['fullCalendar_css']
		});
		
		plugin.add('fullCalendar_css',{
			path:'{{cp}}public/scripts/fullcalendar/a?t=css&m=fullcalendar.css,fullcalendar.print.css',
			type:'css',
			charset:'utf-8'
		});
	</script>
</head>
<body>
{% include "public/iportal/header.html" %}
	{% include PageContext.HtmlName %}
	<script type="text/javascript">
	{% if UserInfo %}
	LEx.userInfo = {{UserInfo}}
	{% else %}
	LEx.userInfo = null;
	{% endif %}
	{% if PageContext.JsName %}
	{% include PageContext.JsName %}
	{% endif %}
	</script>
{% include "public/iportal/footer.html" %}
</body>

<script>
function parseLength(val,len) {
	if (LEx.isNotNull(val)&&val.length>len) {
		return val.substring(0,len)+"...";
	} else {
		return val;
	}
}
function type(){
	var type;
	if({{UserInfo.regionId}}%100000000==0){
		type=3;//市级
		return type;
	}else if({{UserInfo.regionId}}%1000000==0){
		type=4;//县级
		return type;
	}
	else if({{UserInfo.regionId}}%10000==0){
		type=5;//乡镇级
		return type;
	}
	else if({{UserInfo.regionId}}%100==0){
		type=6;//村、社区级
		return type;
	}
	return false;
}
</script>	
<script type="text/javascript">
jQuery(document).ready(function(e) {
	jQuery.ajaxSetup({
		cache: false
	});
	if(typeof init == "function"){
		init();
	}
});
</script>
</html>
{{PageContext.Print}}
		